<?xml version="1.0"?>
<launch>

    <arg name="rate" default="1" />
    <include file="$(find bebop_bag)/launch/rosbag_play.launch">
        <arg name="rosbag_path" default="$(find angle_aware_switch)/rosbag/rosbag_1214_2.bag" />
        <arg name="rviz_file" default="$(find angle_aware_switch)/config/sim_false.rviz" />
        <arg name="rate" value="$(arg rate)" />
    </include>

    <!-- <param name="agentNum" value="1" /> -->
    <!-- <arg name="central_yaml" default="$(find angle_aware_aruco)/config/central.yaml" /> -->
    <!-- <rosparam file="$(arg central_yaml)" command="load" ns="" /> -->

</launch>