<?xml version="1.0"?>
<launch>
    <include file="$(find angle_aware_avoid_tree)/launch/central.launch">
        <arg name="agentNum" value="3" />
        <arg name="use_rosbag" value="false" />
        <arg name="sim" value="true" />
    </include>
    <include file="$(find angle_aware_avoid_tree)/launch/agent.launch">
        <arg name="number" value="1" />
        <arg name="sim" value="true" />
    </include>
    <include file="$(find angle_aware_avoid_tree)/launch/agent.launch">
        <arg name="number" value="2" />
        <arg name="sim" value="true" />
    </include>
    <include file="$(find angle_aware_avoid_tree)/launch/agent.launch">
        <arg name="number" value="3" />
        <arg name="sim" value="true" />
    </include>
</launch>