<?xml version="1.0"?>
<launch>
    <arg name="agentNum" default=""/>
    <arg name="sim" default="true"/>
    <arg name="use_rosbag" default="true"/>

    <rosparam file="$(find bebop_aruco)/config/central.yaml" command="load" ns="" />
    <!-- <node pkg="bebop_hatanaka_base" type="uh_from_joy.py" name="uh_from_joy" output="log"/> -->
    
    <!-- vrpn client を生成しないよう sim = True -->
    <include file="$(find bebop_hatanaka_base)/launch/central_base.launch">
        <arg name="agentNum" value="$(arg agentNum)"/>
        <arg name="sim" value="false"/>
        <arg name="rviz_file" value="$(find bebop_aruco)/config/sim_$(arg sim).rviz"/>
        <arg name="use_rosbag" value="$(arg use_rosbag)"/>
        <arg name="rosbag_output" default="$(find bebop_aruco)/rosbag/rosbag"/>
    </include>

    <rosparam file="$(find bebop_aruco)/config/AR.yaml" command="load" ns="" />


    

</launch>