<?xml version="1.0"?>
<launch>
    <include file="$(find angle_aware_unity)/launch/bringup_sim.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <include file="$(find angle_aware_unity)/launch/unity_agent.launch">
        <arg name="number" value="1"/>
    </include>
</launch>